.header {
  margin-bottom: 0px !important;
}
html,
body {
  margin: 0;
  padding: 0;
}
.no-scrolling {
  overflow: hidden;
}
#container {
  margin: 0px auto;
  max-width: 1200px;
  overflow: hidden;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .cta {
    text-transform: uppercase;
    font-family: Uniqlo pro, Helvetica Neue, HelveticaNeue, Helvetica, Segoe UI,
      Noto Sans, Roboto, Arial, Arial Unicode MS, sans-serif;
    margin: 5px;
    font-size: 24px;
    text-align: center;
    @media only screen and (max-width: 768px) {
      display: flex;
      justify-content: center;
    }
  }
  a {
    text-decoration: underline;
    color: inherit;
  }

  h2 {
    font-size: 22px;
    letter-spacing: 0.3px;
    font-weight: 700;
    @media only screen and (max-width: 768px) {
      font-size: 20px;
    }
  }
  h3,
  .cta {
    font-size: 18px;
    letter-spacing: 0.25px;
    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  h4 {
    font-size: 14px;
    letter-spacing: 0.2px;
    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
  .subheader {
    font-size: 14px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Segoe UI, Noto Sans,
      Roboto, Arial, Arial Unicode MS, sans-serif;
    letter-spacing: 0.23px;
    font-weight: 500;
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  p {
    font-size: 14px;
    margin: 4px auto;
    letter-spacing: 0.2px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Segoe UI, Noto Sans,
      Roboto, Arial, Arial Unicode MS, sans-serif;
    @media only screen and (max-width: 768px) {
      font-size: 12px;
      text-align: center;
    }
  }
  button {
    width: 176px;
    height: 45px;
    font-size: 14px;
    font-family: Uniqlo pro;
    border: 0.5px solid black;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    margin: 20px;
  }

  img,
  video {
    width: 100%;
  }
  img:not([src]) {
    visibility: hidden;
  }
  img {
    width: 100%;
    border: 0;
    height: auto;
    transition: opacity 1s;
  }

  img.lazy {
    opacity: 0.3;
    background-color: rgb(214, 214, 214);
  }
  img.loaded {
    opacity: 1;
  }
  div {
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: 0.17px;
    font-family: Helvetica Neue, HelveticaNeue, Helvetica, Segoe UI, Noto Sans,
      Roboto, Arial, Arial Unicode MS, sans-serif;
    @media only screen and (max-width: 768px) {
      font-size: 10px;
    }
  }
  .mobile-only {
    display: none;
    @media only screen and (max-width: 768px) {
      display: block;
    }
  }

  .desktop-only {
    display: block;
    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }

  // ADD SCSS HERE
  .box {
    background-color: #f2f2f2;
    padding: 50px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    font-size: 12px;
  }

  .hero-container.lazy {
    background-image: none;
    background-color: #f1f1fa;
    height: 620px;
    width: 1200px;
  }
  .hero-container {
    height: 650px;
    position: relative;
    font-size: 14px;
    margin-top: 0px;
    padding: 34px 20px;
    background-color: #ebebeb;
    background-image: url('https://image.uniqlo.com/UQ/ST3/eu/imagesother/2022/content-pages/giftcard/l1.jpg');
    background-size: cover;
    background-position: right;
    @media only screen and (max-width: 768px) {
      background-image: url('https://image.uniqlo.com/UQ/ST3/eu/imagesother/2022/content-pages/giftcard/l1-mb.jpg');
      height: 700px;
      font-size: 12px;
    }
    p {
      margin: 15px 0px 5px;
    }
    .note {
      position: absolute;
      bottom: 20px;
      font-size: 12px;
    }
    h1 {
      font-size: 20px;
      margin: 0px;
    }
    @media only screen and (min-width: 768px) {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding: 117px;
      h1 {
        font-size: 38px;
      }
      p {
        max-width: 450px;
      }
    }

    .hero-ctas {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .cta {
        margin: 12px;
      }
    }
    .small-link {
      position: absolute;
      bottom: 62px;
      margin-top: 30px;
      font-weight: 500;
      font-family: helvetica, arial, sans-serif;
      font-size: 12px;
    }
    @media only screen and (min-width: 768px) {
      .hero-ctas {
        display: flex;
        flex-direction: column;
        .cta {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: black;
          color: white;
          text-decoration: none;
          width: 250px;
          height: 50px;
          margin: 8px 0px;
        }
      }

      .small-link {
        position: static;
      }
    }
  }
  .desktop-faq-member {
    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .faq-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      p {
        margin-bottom: 15px;
      }

      a {
        font-size: 14px;
        text-decoration: underline;
        background-color: black;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        width: 176px;
        height: 45px;
        text-align: center;
        font-family: Uniqlo pro;
        margin: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media only screen and (min-width: 768px) {
        height: 350px;
        margin-right: 7px;
      }
    }

    .become-member-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 6%;
      text-align: center;
      @media only screen and (min-width: 768px) {
        height: 350px;
        margin-left: 7px;
      }
      button {
        width: 100%;
        max-width: 414px;
        margin: 0px;
        margin-top: 5px;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        max-width: 414px;
        margin-top: 5px;
        height: 45px;
        padding: 10px;

        border: 0.5px solid black;
      }

      .form-container {
        h1 {
          margin-bottom: 15px;
        }
        .privacy-text {
          color: #aca6a6;
          font-size: 8px;
          margin-top: 10px;
          text-align: left;
          max-width: 414px;

          .hide {
            display: none !important;
          }
          .show {
            display: block !important;
          }
          .active {
            color: black !important;
            border-bottom: 2px solid black !important;
          }
        }
      }

      #sign-up-form #thank-you-msg {
        font-size: 18px;
        font-family: 'uniqlo pro';
        text-transform: uppercase;
      }
    }
  }

  .gc-container {
    padding: 60px 0px 70px 0px;
    background: white;
    .center {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: 670px) {
        h1 {
          max-width: 214px;
        }
      }
    }
    .ctas {
      display: flex;
      flex-direction: row;
      justify-content: center;
      @media only screen and (max-width: 768px) {
        transform: scale(0.8);
        transform-origin: center center;
      }

      .cta {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        text-decoration: none;
        width: 250px;
        height: 50px;
        margin: 8px 0px;
        margin: 10px;
        @media only screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }

  .how-to-redem-container {
    display: flex;
    justify-content: center;

    padding: 50px 15px;
    h1 {
      margin: 0px auto 42px auto;
    }
    @media only screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    .note {
      margin-top: 20px;
      text-align: left;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .tc {
    font-size: 10px;
    color: grey;
    margin: 40px 3px 3px 4px;
    text-align: left;
  }
  .splide {
    padding: 30px 0;
    .splide__track {
      overflow: visible;
      @media only screen and (max-width: 768px) {
        overflow: hidden;
      }
    }
  }

  // Generic Slide
  .splide__slide {
    min-width: 250px;
    img {
      display: block;
      width: 100%;
      margin: 10px 0;
      border-radius: 8px;
      transition: transform 400ms;
      transform: scale(0.8);
      transform-origin: center center;
      -webkit-box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.15);
    }
  }

  // Active Slide
  .splide__slide.is-active {
    // min-width: 250px;
    // padding: 10px 0 20px 0px;
    img {
      transform: scale(1);
      -webkit-box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.35);
      box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.35);
    }
  }

  // Arrow Tweaks
  @media only screen and (max-width: 768px) {
    .splide__arrows {
      display: none;
      overflow: hidden;
    }
  }
  .splide__arrow:after {
    background-size: 16px 20px !important;
    width: 46px !important;
    height: 13px !important;
  }
  .splide__arrow {
    border-radius: 0%;
    background: white;
    fill: black;
    opacity: 1;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0px;
  }
  .splide__arrow--prev {
    left: 0px;
  }
  .splide__arrow--next {
    right: 0px;
  }
  .splide__pagination {
    margin-top: 10px;
  }

  //how to redem
  .all-steps {
    display: flex;
    flex-direction: column;
    .step-rows {
      display: flex;
      flex-direction: row;
      margin: 10px;
      .step-number {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        width: 37px;
        height: 37px;
        min-width: 37px;
        font-size: 19px;
      }
      .step-text {
        font-size: 16px;
        margin: 0px 0px 0px 10px;
        .large {
          text-align: left;
          font-size: 14px;
          margin: 0px;
          @media only screen and (min-width: 768px) {
            font-size: 16px;
          }
        }

        .small {
          font-size: 12px;
          text-align: left;
        }
      }
    }
  }
}
